@charset "utf-8";

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}

.inside header {
  position: relative;
  top: 0;
  width: 100%;
  z-index: 1000;
}

a.skip-map {
  position:absolute;
  left:-999px;
  z-index:-99;
  width:1px;
  height:1px;
  overflow:hidden;
}

#map {
  height: 100%;
}

#restaurant-container p {
  margin: 0px;
}



@media screen and (max-width: 450px) {


  #breadcrumb {
	display: block;
	width: calc(100% - 80px);
	height: 20px;
  }

  .inside #map-container {
	position: relative;
	width: 100%;
	height: 300px;
	margin-top: -80px;
	margin-bottom: 100px;
  }


  #restaurant-container, #reviews-container {
	position: relative;
	padding: 20px 5px;
	width: 100%;
	text-align: center;
  }

  #restaurant-cuisine {
	width: 100%;
  }

  #restaurant-hours {
	width: 100%;
  }

  #reviews-list li {
	width: calc(100% - 40px);
  }

  #footer {
	height: 10px;
	width: calc(100% - 50px);
  }

}

@media screen and (min-width: 451px) and (max-width: 1000px) {

  #breadcrumb {
	display: block;
	width: calc(100% - 80px);
	height: 20px;
  }

  .inside #map-container {
	position: relative;
	width: 100%;
	height: 500px;
	margin-top: -80px;
  }


  #restaurant-container, #reviews-container {
	width: calc(100% - 80px);
	text-align: center;
  }

  #restaurant-cuisine {
	width: 100%;
  }

  #restaurant-hours {
	width: 100%;
  }

  #reviews-list li {
	width: calc(100% - 40px);
  }

  #footer {
	height: 10px;
	width: calc(100% - 50px);
  }


}

@media screen and (min-width: 1001px) {

  .inside header {
	position: fixed;
    top: 0;
	width: 100%;
	z-index: 1000;
  }


  .inside #map-container {
	position: fixed;
	top: 80px;
	right: 0px;
	order: 2;
	height: calc(100% - 80px - 60px);
  }


  #footer {
	position: fixed;
	bottom: 0px;
	height: 10px;
	width: 100%;
  }

}